.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* =========   Chess app styels  ================= */
*{
  box-sizing: border-box;
}
html, body{
  background-color: white;
  min-height:100%;
  font-family: 'Courier New', Courier, monospace;
}

.fieldLabel>span{
  padding-right: 10px;
}
.field{
  margin:10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"]{
  padding:15px;
}

.hidden{
  display: none;
}

.chessBoardHeader{
  background-color: #282c34;
  padding: 10px 15px 10px 15px;
  color: whitesmoke;
  display: flex;
}

.chessBoardHeader h1{
  margin:0px;
}
.chessBoardHeaderMenu{
  margin: auto 0px;
  flex-grow:1;
  display: flex;
  flex-direction: row-reverse;
}
.chessBoardHeader button{
  color: whitesmoke;
}
.buttonAsLink{
  background-color: transparent;
}
.chessBoardPage{
  display: flex;
  justify-content: center;
  gap:15px;
}
.chessBoard{

}
.square{
  width: 70px;
  height:70px;
  border: 1px solid black;
}
.chessBoardRow{  
  display: flex;
}
.whiteSquare{
  background-color: rgb(240, 227, 210);
  
}
.blackSquare{
  background-color: grey;
}
.selected_square{
  background-color: rgb(203, 145, 20);
}

.player1Stats, .player2Stats{
  background-color: rgb(240, 227, 210);
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
  width:8%;
}
.player1Avatar{
  background-image: url("images/players/Player1.png");
  background-size: 100%;
  width:70px;
  height:70px;
  background-repeat: no-repeat;
  border:2px solid black;
  border-radius: 50%;
  margin:auto;
}
.player2Avatar {
  background-image: url("images/players/Player2.png");
  background-size: 100%;
  width:70px;
  height:70px;
  background-repeat: no-repeat;
  border:2px solid black;
  border-radius: 50%;
  margin:auto;
}
.nextPlayerStyle{
  animation-name: blink-animator;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes blink-animator {
  0%{

  }
  100%{
    border: 10px solid rgb(203, 145, 20);
    border-radius: 50%;
  }
}
.playerStatsHeader{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playerStatsBody{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:auto;
}
.lostPiece{
  height: 40px;
  width: 40px;
}
.gameStatusSection, .moveStatus{
  position: absolute;
  top:50%;
  left:50%;
  width:300px;
  translate: -50%;
  background-color: rgb(99, 130, 156);
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 200%;
  text-align: center;
  color:white;
  display: none;
}
.checkmate{
  display: block;
}
.easeinout-animator{
  /*opacity:0;*/
  animation: 3s easeinout;
  display: block;
}
@keyframes easeinout {
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
.modal{
  width:100%;
  height: 100vh;
  position:fixed;
  left:0px;
  top:0px;
  background-color:rgb(0,0,0,0.4);
}
.capturePlayersModal{
  border: 2px solid #282c34;
  border-radius: 10px;
  width:41.66%;
  position:absolute;
  left:50%;
  top:50%;
  translate: -50% -50%;
  text-align: center;
  background-color: #282c34;
  color:whitesmoke;
}
.capturePlayersDiv > h2{
  margin:0px;
}
.capturePlayersModalButtons{
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width : 768px) {
  [class*="col-"]{
    padding:15px;
    width: 100%;
  }
  .chessBoardPage{
    flex-direction: column;
  }
  .chessBoard{
    width:100%;
  }
  .square{
    width:12.5%;
  }
  .player1Stats, .player2Stats{
    display: flex;
    flex-direction: row;
    width:100%;
  }
  .playerStatsHeader{
    margin:0;
  }
  .player1Avatar, .player2Avatar {
    width: 40px;
    height: 40px;
  }
  .playerStatsBody{
    flex-direction: row;
    margin:0;
  }
  .lostPiece{
    height: 35px;
    width: 35px;
  }

}
.rook_white{
  background-image: url("images/rook_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.rook_black{
  background-image: url("images/rook_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.knight_white{
  background-image: url("images/knight_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.knight_black{
  background-image: url("images/knight_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.bishop_white{
  background-image: url("images/bishop_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.bishop_black{
  background-image: url("images/bishop_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.queen_white{
  background-image: url("images/queen_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.queen_black{
  background-image: url("images/queen_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.king_white{
  background-image: url("images/king_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.king_black{
  background-image: url("images/king_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.pawn_white{
  background-image: url("images/pawn_white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.pawn_black{
  background-image: url("images/pawn_black.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
